body {
    font-family: "comic sans", Helvetica, Verdana, Arial, "san serif";
    background-color: black;
    padding: 25px;
    font-size: 120%;
    margins: 0px
}

div#content {
    padding: 50px;
    background-color: lime;
    border: solid 0px #39ff14;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

img {
    float: left;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: lime;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
p {
  color: #39ff14;
}

h1 {
  color: #39ff14;
}
img#vector{
  border: solid 10px #39ff14;
    transition: all 3s ease-out;
}
img#vector:hover{
  border: solid 5px #39ff14;
  transition: all 3s ease-out;
  width: 100%;
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
</style>
