div#sing-it {
    text-align: center;
}

body {
    font-family: 'comic sans ms', cursive;
    background-color: black;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: lime;
    border: solid 1px #39ff14;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "comic sans ms", monospace;
}

a {
    text-decoration: none;
    color: lime;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
p {
  color: #39ff14;
}

h1 {
  color: #39ff14;
}

title {
  color: #39ff14;
}

h2 {
  color: #39ff14;
}
img {
    width: 400px;
    height: auto;
}
img#vector:hover{
  border: solid 5px #39ff14;
  transition: all 3s ease-out;
  width: 100%;
}
aside {
    position: sticky;
    width: 300px;
    top: 0px;
    height: 33%;
    color: #39ff14;
}
#floated{
float: right;
  border: solid 1px #39ff14;
  clear: right;
  color: #39ff14;
}
#center-horz{
  text-align: center;
  border: 1px solid #39ff14;
 left: 50%;
 color: #39ff14;
}

img{
  display: block;
margin-left: auto;
margin-right: auto;
 left: 50%;
  border: 1px solid #39ff14;
color: #39ff14;
}
#center-img{
  text-align: center;
  border: 1px solid #39ff14;
 left: 50%;
 color: #39ff14;
 display: block;
margin-left: auto;
margin-right: auto;
left: 50%;
 border: 1px solid #39ff14;
color: #39ff14;

}
#center-both{
  margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
color: #39ff14;
}
div {
  color: #39ff14
  width: 30%
}
iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}
